// +-------------------------------------------------------------------------
// | Copyright (C) 2016 Yunify, Inc.
// +-------------------------------------------------------------------------
// | Licensed under the Apache License, Version 2.0 (the "License");
// | you may not use this work except in compliance with the License.
// | You may obtain a copy of the License in the LICENSE file, or at:
// |
// | http://www.apache.org/licenses/LICENSE-2.0
// |
// | Unless required by applicable law or agreed to in writing, software
// | distributed under the License is distributed on an "AS IS" BASIS,
// | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// | See the License for the specific language governing permissions and
// | limitations under the License.
// +-------------------------------------------------------------------------

{{- $service := .Data.Service -}}
{{- $subService := index .Data.SubServices .CurrentSubServiceID}}

package com.qingcloud.sdk.service;

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.qingcloud.sdk.config.EnvContext;
import com.qingcloud.sdk.constants.QCConstant;
import com.qingcloud.sdk.model.OutputModel;
import com.qingcloud.sdk.request.ResponseCallBack;
import com.qingcloud.sdk.request.ResourceRequestFactory;
import com.qingcloud.sdk.exception.QCException;
import com.qingcloud.sdk.model.IaasParamBody;
import com.qingcloud.sdk.service.Types.*;
import com.qingcloud.sdk.utils.QCStringUtil;
import com.fasterxml.jackson.annotation.JsonProperty;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class {{camelCase $subService.Name}}Service {

    private EnvContext envContext;

    private String zone;

    public {{camelCase $subService.Name}}Service(EnvContext envContext) {
        this.envContext = envContext;
    }

    public {{camelCase $subService.Name}}Service(EnvContext envContext, String zone) {
        this.envContext = envContext;
        this.zone = zone;
    }

    {{- range $_, $operation := $subService.Operations -}}
        {{$belongs := printf "%sSubService" ($subService.Name | camelCase)}}
        {{template "RenderOperation" passThrough $belongs $operation}}
    {{- end -}}
}
